.main {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link-button {
  text-decoration: none;
  padding: 20px;
  margin: 20px;
  background-color: #d3d3d3;
  color: black;
  width: 120px;
  height: 40px;
  align-content: center;
  font-size: 18px;
}

.gameboard {
  display: flex;
  flex-direction: column;
  /* 30% of the viewport width */
  width: 30vw;
  height: 30vw;
  /* stop overflow */
  max-width: 100vh;
  max-height: 100vh;
  border: 1px solid;
  align-content: center;
}

.row {
  display: flex;
  /* use equal portion for each row */
  flex: 1;
}

.square {
  flex: 1;
  /* set as always a square */
  aspect-ratio: 1;
  border: 1px solid #000;
  box-sizing: border-box;
  text-align: center;
  align-content: center;
  font-size: x-large;
  font-weight: 600;
}

.highlight-square {
  border: 1.5px solid rgba(0, 123, 255, 0.75);
}

.play-button {
  margin: 12px;
  padding: 6px;
}
